# Introduction

Predictive Maintenance (PdM) is a great application of Survival Analysis since it consists in predicting when equipment failure will occur and therefore alerting the maintenance team to prevent that failure.

### ` Objectives`
> - To estimate Remaining Useful Time(RUL) of a machine/component
> - To Predict Probability of Failure in Next N days
> - Create a Dashboard for tracking and alerts

# Setup

### `Requirements`
> - nbdev 2.
> - quarto 
> - python version == 3.7 or above
> - pandas ==

# Dataset

Dataset we are going to use contains the following features

In [ ]:
#| default_exp utils

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
#| export
import pandas as pd

In [ ]:
#| export
data = pd.read_csv('predictive_maintenance_dataset.csv')
data.head()

,date,device,failure,metric1,metric2,metric3,metric4,metric5,metric6,metric7,metric8,metric9
0,01-01-2015,S1F01085,0,215630672,55,0,52,6,407438,0,0,7
1,01-01-2015,S1F0166B,0,61370680,0,3,0,6,403174,0,0,0
2,01-01-2015,S1F01E6Y,0,173295968,0,0,0,12,237394,0,0,0
3,01-01-2015,S1F01JE0,0,79694024,0,0,0,6,410186,0,0,0
4,01-01-2015,S1F01R2B,0,135970480,0,0,0,15,313173,0,0,3

In [ ]:
#| export
def foo(): pass

In [ ]:
#|
# error while importing pandas

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()